<%- include("encabezado", {titulo:"Respuesta"}) %>
<div>Los datos del formulario son: </div>
<div class="alert alert-primary"><%=nombre %></div>
<div class="alert alert-primary"><%=edad %></div>


<%- include("templates/pie") %>

